@model Web_banhang.Models.VMNews;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Chỉnh sửa";
    ViewData["parent"] = "Tin tức";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    //ViewBag.menuChildName = "Thêm mới";
}

@section leftnavbar{
    <li class="nav-item d-none d-sm-inline-block">
        <a href=".." class="nav-link"> @ViewData["parent"]</a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">@ViewData["Title"]</a>
    </li>
}
@section pageHeader{
    <li class="breadcrumb-item active">@ViewData["parent"]</li>
    <li class="breadcrumb-item active">@ViewData["Title"]</li>
}


<section class="content">
    <div class="container-fluid">
        <div class="col-12">
            <div class="card">
                <div class="card card-primary">
                    <form asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Image" class="control-label"></label>
                                <div class="custom-file">
                                    <input asp-for="Image" class="form-control" id="txtImage">
                                    <div class="input-group-append">
                                        <input type="button" value="Tải ảnh" onclick="BrowseServer('txtImage');" />
                                    </div>
                                </div>
                                <span asp-validation-for="Image" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Detail" class="control-label"></label>
                                <textarea asp-for="Detail" id="summernote"></textarea>
                                <span asp-validation-for="Detail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SeoTitle" class="control-label"></label>
                                <input asp-for="SeoTitle" class="form-control" />
                                <span asp-validation-for="SeoTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SeoDescription" class="control-label"></label>
                                <input asp-for="SeoDescription" class="form-control" />
                                <span asp-validation-for="SeoDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SeoKeywords" class="control-label"></label>
                                <input asp-for="SeoKeywords" class="form-control" />
                                <span asp-validation-for="SeoKeywords" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section script{
    <!-- Summernote -->
    <script src="~/client/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="~/client/plugins/summernote/summernote-bs4.js"></script>

    <!-- elfinder -->
    <link href="~/lib/elfinder/css/elfinder.full.css" rel="stylesheet" />
    <link href="~/lib/elfinder/css/theme.min.css" rel="stylesheet" />

    <link href="~/lib/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/theme.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/theme.min.css" rel="stylesheet" />

    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>

    <script src="~/lib/elfinder/js/elfinder.min.js"></script>

    <script>

        $(function () {

            bsCustomFileInput.init();
            // Summernote
            //$('#summernote').summernote();
            var detail = '@Model.Detail';
            //$('#summernote').summernote('code', detail);
            $('#summernote').summernote('pasteHTML','');
            $('#summernote').summernote({
                placeholder: 'Chi tiết',
                //tabsize: 2,
                height: 200
            });
        });
        function BrowseServer(field) {
            var fm = $('<div/>').dialogelfinder({
                url: '/el-finder-file-system/connector', // change with the url of your connector
                baseUrl: "/lib/elfinder/",
                lang: 'vi',
                width: 840,
                height: 450,
                destroyOnClose: true,
                getFileCallback: function (files) {
                    console.log(files);
                    console.log(files.url);
                    document.getElementById(field).value = files.name;
                },

                commandsOptions: {
                    getfile: {
                        oncomplete: 'close',
                        folders: false
                    }
                }
            }).dialogelfinder('instance');
        }
    </script>
}